<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @session.login %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @session.senha %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
